body {
    margin: 0 auto;
    padding: 0;
    background-color: #424242;
    font-family: sans-serif;
    text-align: center;
}

img {
    width: 70px;
    height: 70px;
}


/* Navbar related ------------------------------------------------------------ */

h1, h2, h4 {
    color: white;
}

#navH1 {
    margin-left: 20px;
}

nav {
    margin: 0 auto;
    background-color: #282828;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 100px;
}

#navUl {
    padding: 0;
    display: flex;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    color: white;
}

a {
    padding: 25px;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: #424242;
}


/* Translation page -------------------------------------------------- */

fieldset {
    border: 0px;
    padding: 10px;
    margin: 0 auto;
    width: 50%;
}

input {
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    box-sizing:border-box;
    border: 1px solid white;
    border-radius: 20px;
}

#btnTranslate, #btnContinue {
    margin-top: 10px;
    color: white;
    background-color: darkred;
    border: 2px solid darkred;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}

#btnTranslate:hover, #btnContinue:hover {
    background-color: #a50000;
    border: 2px solid #a50000;
}

#btnContinue:disabled {
    opacity: 0.5;
}

#imgView {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    border: 5px solid lightgray;
    border-radius: 10px;
    background-color: lightgray;
}


/* Login page ----------------------------------------------------------- */

#pLoading {
    color: white;
}


/* Profile page --------------------------------------------------------- */

#ulProfile {
    padding: 0;
    margin: 0 auto;
}

#btnLogout {
    color: white;
    background-color: darkred;
    border: 2px solid darkred;
    border-radius: 10px;
    padding: 5px;
    width: 200px;
}

#btnLogout:hover {
    background-color: #c60000;
    border: 2px solid #c60000;
}

#btnClear {
    margin-top: 20px;
    color: black;
    background-color: #ffd500;
    border: 2px solid #ffd500;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}

#btnClear:hover {
    background-color: yellow;
    border: 2px solid yellow;
}